$blue: #3273DC;
$primary: #3e68ff;
$primary-dark: #303778;
$primaryDark: $primary-dark;
$stdBtn: whitesmoke;
$modal-card-head-padding: 10px;
$modal-card-title-size: 1rem;
$navbar-bottom-box-shadow-size: 0 5px 0 0;
$navbar-box-shadow-color: black;
$navbar-box-shadow-size: 0 5px 0 0;
$menu-item-color: rgb(209, 214, 237);
// Imported from antd
$family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
'Noto Color Emoji';
