@import "base-override";

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

.overriden {
  .ant-select-selector {
    height: 30px !important;
  }
}

.spc-10 {
  margin: 10px;

  &.bottom {
    margin-top: 0;
    margin-bottom: 10px;
  }

  &.top {
    margin-bottom: 0;
    margin-top: 10px;
  }
}

.primary-colored {
  color: $primary;
}

input.secondary-textfield {
  border: 2px solid rgba(52, 52, 52, 0.2);
}

.control.secondary-textfield {
  width: 200px;
}

.small-action-group {
  font-size: .875rem;
}

.is-light-btn {
  background-color: rgba(96, 149, 184, 0.1);
  border: 1px solid rgba(89, 151, 193, 0.6);
  color: #1d72aa;
}

.ant-picker-cell-inner {
  text-align: center;
}

.centered-absolutely {
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  &.is-loading {
    height: 132px;
    position: relative;
    pointer-events: none;
    opacity: 0.5;

    &:after {
      @include loader;
      position: absolute;
      top: calc(50% - 2.5em);
      left: calc(50% - 2.5em);
      width: 5em;
      height: 5em;
      border-width: 0.25em;
      border-top-color: #2d2d2d;
    }
  }
}
.primary-btn-override {
  transition: background-color 0.3s;
  &:hover {
    background-color: $blue !important;
  }
}