@charset "utf-8";

$blue: #3273DC;
$primary: $blue;
$primary-dark: #0b265e;

$modal-card-head-padding: 10px;
$modal-card-title-size: 1rem;
$navbar-bottom-box-shadow-size: 0 5px 0 0;
$navbar-box-shadow-color: black;
$navbar-box-shadow-size: 0 5px 0 0;
$menu-item-color: rgb(209, 214, 237);

// Import the rest of Bulma
@import "../../node_modules/bulma/bulma";
