
$card-content-padding: 2rem;

.vertically-spaced {
  margin-top: 20px !important;
  margin-bottom: 20px !important;

  &.small {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }

  &.inline {
    display: inline-block;
    margin-right: 20px;
  }
}

$input-placeholder-color: rgba(0, 0, 0, 0.8);
.input {
  font-size: 15px !important;
}

strong {
  &.head {
    color: #545454 !important;
  }
}

.clickable {
  pointer-events: initial !important;
  cursor: pointer;
}
.mdi {
  &.active-gray {
    color: #4a4a4a;
  }
  &.active-red {
    color: #ad2739;
  }
}
.formText {
  font-size: 14px !important;
}
input[type="checkbox"] {
  vertical-align: middle !important;
}
@import "base";
