@import "base";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

.menu {
  background-color: #ffffff !important;
  -webkit-box-shadow: -3px 0 6px 0 #999;
  -moz-box-shadow: -3px 0 6px 0 #999;
  box-shadow: -3px 0 6px 0 #999;;
  height: 100% !important;
  padding-top: 30px !important;
  width: 240px;
  font-family: 'Poppins', Arial, sans-serif !important;
}

.isActive {
  color: $primary !important;
  font-weight: 500 !important;
}

.iconContainer {
  margin-left: 5px;
  margin-right: 10px;
  padding: 15px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.item {
  font-size: 14px;

  a {
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 7px;
    color: #737477 ;
    border-radius: 10px;
    transition: all ease-in 0.3s;
    &:hover {
      color: $primary-dark ;
      background-color: rgba($primary, 0.1);
    }
  }

}

.fixedColumn {
  position: fixed;
  height: 100vh;
}
