.project-subpage {
  padding-left: 220px;
}

.container {
  margin-top: 10px;
}

.centerpiece {
  padding-top: 30px;
}

.table {
  font-size: 14px;
}

.small-pad {
  padding: 15px;
}

.padded-card {
  padding-top: 12px !important;
  padding-bottom: 10px !important;
}

.content-with-menu {
  padding-left: 265px;
  flex-grow: 1;
}