.project-subpage {
  padding-left: 220px;
}

.container {
  margin-top: 10px;
}

.project-container {
  padding-top: 40px;
}

.table {
  font-size: 14px;
}

.small-pad {
  padding: 15px;
}

.padded-card {
  padding-top: 12px !important;
  padding-bottom: 10px !important;
}

.content-with-menu {
  margin-left: 230px;
}